
body {
    background-color: rgba(0, 0, 0, 0.07);
}

a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}
.func-login i {
    margin-top: 8px;
    padding-left:1em;
    font-size: 1em !important;
}
.form-register {
    border-radius: 1%;
    margin: auto;
    box-shadow: 0px 0px 30px -10px #888888;
    padding: 40px;
}
    
    .form-register #success_message {
        display: none;
    }
    .form-register i {
        margin-top:8px;
        font-size: 1em !important;
    }

.frm-userProfile {
    margin: auto;
    box-shadow: 0px 0px 30px -10px #000000;
    background-color: white;
    padding: 5%;
}

.query-flight-details {

}
.ticketheader {
    
}
    .ticketheader b {
        margin-left: -3rem;
        padding-left: 3rem !important;
        padding-right: 1.5rem !important;
    }


.table-scroll {
    overflow: auto;
}


