@using ARSWebMVC.Models
@model Queue<List<FlightSchedule>>

@{
    ViewBag.Title = "Choose Route";
}
<section class="ListRoute pt-5 ">
    <div class="container">
        <div class="card p-md-5 p-2 animated wow fadeIn">
            <h4>Choose Route</h4>
            <!--Table-->

            <div class=" w-100 table-scroll">
                <table class="table table-hover">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>CityAID</th>
                            <th>CityBID</th>
                            <th class="text-center">FirstClass</th>
                            <th class="text-center">BusinessClass</th>
                            <th class="text-center">ClubClass</th>
                            <th class="text-right">SkyMile</th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <tr>
                            <th class="">1</th>
                            <td class="align-self-center">Mark</td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-right">Otto</td>
                        </tr>
                        <tr>
                            <th class="">1</th>
                            <td class="align-self-center">Mark</td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-right">Otto</td>
                        </tr>
                        <tr>
                            <th class="">1</th>
                            <td class="align-self-center">Mark</td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-right">Otto</td>
                        </tr>
                        <tr>
                            <th class="">1</th>
                            <td class="align-self-center">Mark</td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-center"><button class="btn teal btn-outline-default p-3">$12321</button></td>
                            <td class="text-right">Otto</td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
            </div>

            <!--Table-->
        </div>
    </div>
</section>

