
@{
    ViewBag.Title = "Index";
}


<div class="container mt-5 card ">
    @using (Html.BeginForm("Index", "Ticket", null, FormMethod.Post, new { @class = " form-ticketstatus card-panel col-10 m-auto p-md-5 pt-5 pb-5" }))
    {
        <h2>TicketStatus</h2>
        <hr />
        <div class="form-group row">
            <label class="col-md-3 col-sm-12 col-form-label text-dark">ConfirmationCode&nbsp;: </label>
            <div class="col-md d-md-inline-flex">
                <input type="text" name="txtConfirmationCode" class=" col-md-4 form-control " placeholder="Your Code">
                <span class="text-danger col-md pt-2">@ViewBag.ErrorMessage</span>
            </div>
        </div>
        
        <hr />
        @Html.ActionLink("Home Page", "Index", "Home", null, new { @class = " btn-outline-default  btn mr-4 teal" })

        <button type="submit" class="btn teal">
            Submit
        </button>
    }
</div>