@model ARSWebMVC.Models.Ticket
@{
    ViewBag.Title = "TicketDetail";

}
<section class="ticketdetail pt-5 pb-5">
    <div class="container">
        <div class="card-panel p-0 mb-0">
            <div class="grey lighten-4 p-3"></div>
            <div class="teal p-3"></div>
        </div>
        <div class=" card-panel mt-0">
            <div class="row">
                <div class="col">
                    <h5 class="text-center text-md-left"> NAME OF PASSENGER&nbsp;:</h5>
                </div>
                <div class="col">
                    <span>@Model.Profile.FirstName</span>
                    <span>@Model.Profile.LastName</span>
                </div>
            </div>
            <hr class="mb-5" />
            @if (Model.Status == "blocked")
            {
                <div class="d-flex justify-content-around">
                    <button class=" btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            }
            else if (Model.Status == "reservred")
            {
                <div class="d-flex justify-content-around">
                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }
            else if (Model.Status == "aborted")
            {
                <h4 class="text-center">Tickets canceled</h4>
                <a class="btn waves-effect waves-light" href="../Home">
                    Home Page
                    <i class="material-icons right">remove_circle</i>
                </a>

            }
            else
            {
                <div class="d-flex justify-content-around">
                    <button class=" btn waves-effect waves-light d-flex" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>

                    <button class="btn waves-effect waves-light d-flex" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }


        </div>
    </div>
</section>
