@model ARSWebMVC.Models.Ticket
@{
    ViewBag.Title = "TicketDetail";
}
<section class="ticketdetail pt-5 pb-5">
    <div class="container">
        <div class="card-panel p-0 mb-0">
            <div class="grey lighten-4 p-3"></div>
            <div class="teal p-3"></div>
        </div>
        <div class=" card-panel mt-0">
            <div class="row">
                <div class="col-md-3 col-sm-2 pt-md-4 pt-sm-2">
                    <h5 class="text-center text-md-left"> NAME OF PASSENGER&nbsp;:</h5>
                </div>
                <div class=" col-md-9 col-sm-8">
                    <input type="text" class="text-center mb-0" readonly value="NHAT MINH DOAN" />
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-4">
                    <h5> FROM&nbsp;:</h5>
                </div>
                <div class="col-9 ">
                    <input type="text" class="text-center mb-0" readonly value="BangKok" />
                </div>
            </div>
            <div class="row">
                <div class="col-2 pt-4">
                    <h5> TO&nbsp;:</h5>
                </div>
                <div class="col-10 ">
                    <input type="text" class="text-center mb-0" readonly value="Dubai" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> FLIGHT&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="0612" />
                </div>
                <div class="col-md-6 d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> SEAT&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="10D" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> DATE&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="30MAR" />
                </div>
                <div class="col-md-6 d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> GATE&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="14" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> TIME&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="0845" />
                </div>
                <div class="col-md-6 d-flex flex-row">
                    <h5 class="pt-md-4 pr-3 pt-4"> STATUS&nbsp;:</h5>
                    <input type="text" class="text-center mb-0 " readonly value="None" />
                </div>
            </div>



            @if (Model.Status == "blocked")
            {
                <div class="d-flex justify-content-around">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            }
            else if (Model.Status == "reservred")
            {
                <div class="d-flex justify-content-around">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }
            else if (Model.Status == "aborted")
            {
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Home Page
                    <i class="material-icons right">remove_circle</i>
                </button>
            }
            else
            {
                <div class="d-flex justify-content-around">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Cancellation
                        <i class="material-icons right">remove_circle</i>
                    </button>

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Confirm Ticket
                        <i class="material-icons right">send</i>
                    </button>

                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Reschedule Ticket
                        <i class="material-icons right">autorenew</i>
                    </button>
                </div>
            }


        </div>
    </div>
</section>
